body {
    background-color: rgb(0, 136, 255);
}
.card-filme {
    transition: 0.3s;
    cursor: pointer;

}

.card-filme:hover {
    transform: scale(1.03);
}

.card-filme img {
    height: 400px;
    object-fit: cover;
}